extends ../../layout/layout

block variables
    - var title = 'Аккредитация партнеров - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, аккредитация партнеров'
    - var description = 'Приглашаем вас принять участие в работе форума «Сильные идеи для нового времени», который состоится в октябре 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main

        div#default-page-top
            .container
                nav.breadcrumbs
                    a(href="/") Главная
                    p /
                    a(href="/") Партнеры
                    p /
                    p Аккредитация партнеров
                
                nav.second_level_menu
                    a(href="#") Партнеры
                    a(href="#") Стать партнером
                    a.is-active(href="#") Аккредитация партнеров
                    a(href="#") Аккредитация подрядчиков партнеров

                h1 Стать партнером

        div#partner-accreditation-page.page-content

            section.accreditation-1-section
                .container
                    p Уважаемые партнеры! <br/><br/>Аккредитация представителей компаний – партнеров форума «Сильные идеи для нового времени» по всем категориям (участники – пакеты «Премиум», «Стандарт», стендисты, персонал, водители, транспортные средства) начинается с 1 августа 2020 года.<br/><br/>Просим обратить особое внимание на ключевые даты предоставления информации и правила работы с Личным кабинетом компании-партнера.
            
                    ul.decorized-ul
                        li
                            img(src="/images/decor-9.png")
                            .header 1 августа 2020 года – 5 сентября 2020 года
                            .content Согласование квот в соответствии с партнерским договором
                        li
                            img(src="/images/decor-10.png")
                            .header 17 августа 2020 года – 14 сентября 2020 года
                            .content Прием заявок на аккредитацию, изменения и дополнения
                        li
                            img(src="/images/decor-11.svg")
                            .header 18 сентября 2020 года – 25 сентября 2020 года
                            .content Получение аккредитационного пакета

                    p Личный кабинет <strong>компании-партнера</strong> содержит следующую информацию:

                    ul.bold-numeral-ul
                        li <strong>1. Участники</strong> – здесь необходимо производить регистрацию представителей вашей компании по пакету «Премиум», пакету «Стандарт»;
                        li <strong>2. ТС и водители участников</strong> – здесь отображаются ТС и водители, зарегистрированные через ЛК участника;
                        li <strong>3. Персонал</strong> – здесь вы можете зарегистрировать стендистов и технический персонал от вашей компании;
                        li <strong>4. Подрядчики</strong> – информация о зарегистрированных представителях вашего подрядчика (в режиме просмотра);
                        li <strong>5. Полезная информация</strong> – в данном разделе вы можете ознакомиться с информацией о регламенте разгрузочно-погрузочных работ и схемой движения грузового транспорта к зоне разгрузки на территории форума «Сильные идеи для нового времени».

                    p <strong>Аккредитацию на период Форума</strong> проходят те сотрудники, водители и транспортные средства подрядных организаций, которые в силу производственной необходимости будут находиться на центральной площадке проведения форума «Сильные идеи для нового времени» (далее – Форум) с 18:00 <strong>25 сентября 2020 года</strong> до 23:00 <strong>28 сентября 2020 года.</strong>
                    br
                    p <strong>Аккредитацию на период монтажа/демонтажа</strong> проходят те сотрудники, водители и транспортные средства подрядных организаций, которые в силу производственной необходимости будут находиться на центральной площадке проведения Форума с 08:00 <strong>21 сентября 2020 года</strong> до 18:00 <strong>25 сентября 2020 года</strong> и с 23:00 <strong>28 сентября 2020 года</strong> до 23:00 <strong>1 октября 2020 года.</strong>

                    .colored-container Обращаем ваше внимание, что сотруднику, водителю и транспортному средству, аккредитованным на период проведения Форума, аккредитация на период монтажа демонтажа не требуется.

                    p
                        strong Для аккредитации участников, персонала, транспортных средств и водителей (для нужд технического персонала) необходимо:
                    
                    p 1. Заполнить карточку <a href="/#">компании-партнера</a> <strong>(количество участников и персонала необходимо указывать согласно условиям партнерского договора).</strong>

                    .colored-container При превышении установленных квот на количество участников от одной компании-партнера необходимо направить официальный запрос в Фонд Росконгресс.

                    p 2. Отсканировать распечатанную карточку компании-партнера с подписью руководителя организации и печатью. <br/>Направить электронный вариант в формате Excel (карточка компании-партнера) и отсканированный вариант в формате PDF или JPEG на электронный адрес вашего персонального менеджера.

                    p 3. Получить по электронной почте информационное письмо от Фонда Росконгресс, в котором будут указаны <strong>логин и пароль</strong> для входа в Личный кабинет организации.

                    p 4. Используя свой логин и пароль, войти в <a href="/#">Личный кабинет</a> на официальном сайте Форума.

                    p 5. Заполнить анкеты на участников и персонал (стендисты, технический персонал, транспортные средства и водители [для нужд технического персонала]).

                    .colored-container Участники, работающие с профессиональной фото- и видеотехникой и имеющие соответствующую должность, должны быть аккредитованы в соответствии с правилами аккредитации представителей СМИ. Обращаем особое внимание, что пронос профессиональной фото- и видеотехники возможен только при соответствующей аккредитации. <br/><br/>Организационный комитет вправе запросить у компании-партнера письменное обоснование количества стендистов и технического персонала.

                    p 6. Загрузить фотографии участников и персонала. Фотография на временный пропуск (на период монтажа/демонтажа) не требуется.
                    br
                    p
                        strong Фотографии должны соответствовать следующим требованиям:
                    
                    p(style="padding-left: 20px;") - размер фотографии – 480x640 пикселей; <br/>- фотография должна быть цветная на белом фоне, тип «для документов»;<br/>- разрешение – 300 dpi (качество фотографии);<br/>- изображение должно быть анфас, без головного убора;<br/>- изображение лица должно занимать не менее 70% фотографии.
                    br
                    p 7. После заполнения анкет на участников необходимо зайти в Личный кабинет каждого участника и, если в этом есть необходимость, зарегистрировать транспортные средства и водителей.


                    .colored-container Транспортные средства участников – пакет «Премиум» и пакет «Стандарт» (личные или арендованные) – регистрируются только из Личного кабинета участника!

                    p 8. Прием заявок на аккредитацию стендистов, технического персонала, водителей и транспортных средств осуществляется <strong>с 1 августа 2020 года по 10 сентября 2020 года</strong>. Изменения и дополнения к спискам согласовываются с руководителем направления и могут быть произведены до <strong>14 сентября 2020 года</strong>.
                    br
                    p Изменения и дополнения после <strong>14 сентября 2020 года</strong> согласовываются только с директором Форума.

            section.accreditation-2-section
                .container
                    h2 Получение аккредитационного пакета
                    p 
                        | Для комфортного прохождения процедуры аккредитации участникам предоставляется возможность получить аккредитационный бедж в пунктах аккредитации на центральной площадке проведения Форума, а также в местах размещения.
                        | <br/><br/>Получение беджей/пропусков на персонал (технический персонал, стендисты и водители) и транспортные средства технического персонала осуществляется <strong>ОДНИМ аккредитационным пакетом (АП)</strong> ответственным лицом по доверенности с паспортом <strong>после предварительного согласования времени получения с менеджером, курирующим вашу организацию.</strong>
                        | <br/><br/>Экземпляр доверенности и прилагаемые списки стендистов, технического персонала, транспортных средств и водителей вы можете распечатать из Личного кабинета компании (раздел «Доверенность и списки»).
                        | <br/><br/><strong>При получении беджей и временных пропусков по доверенности необходимо предъявить копии паспортов всех стендистов, технического персонала и водителей, ожидающих аккредитации, согласно спискам к доверенности.</strong>
                        | <br/><br/>Если при сверке будут обнаружены несоответствия внесенных данных паспортным, выдача беджа или временного пропуска будет возможна только после внесения изменений и повторной обработки предоставленной информации (не менее 3 рабочих дней).
                        | <br/><br/><strong>Получение беджей/пропусков стендистами / техническим персоналом / водителями лично не предусматривается!</strong>

            section.accreditation-3-section
                .container
                    h2 Контакты
                    p 
                        | В случае возникновения вопросов по аккредитации участников и представителей СМИ, пожалуйста, обращайтесь в <strong>отдел аккредитации партнеров и представителей СМИ</strong> по телефону <a href="tel:+78124067709">+7 (812) 406 7709</a> с 10:00 до 18:00 или по почте <a href="mailto:partners.accreditation@roscongress.org">partners.accreditation@roscongress.org</a>. 
                        | <br/><br/>В случае возникновения вопросов по аккредитации стендистов, технического персонала, транспортных средств и водителей организаций, пожалуйста, обращайтесь в <strong>отдел аккредитации технического персонала и транспорта</strong> по телефону: <a href="tel:+78124080013">+7 (812) 408 0013</a> с 10:00 до 18:00.
                        