extends ../../layout/layout

block variables
    - var title = 'Стать партнером - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, стать партнером'
    - var description = 'ПАРТНЕР ФОРУМА – ЭТО ПРЕСТИЖНЫЙ СТАТУС, КОТОРЫЙ ПРЕДОСТАВЛЯЕТСЯ УСПЕШНЫМ КОМПАНИЯМ – ПРИЗНАННЫМ УЧАСТНИКАМ БИЗНЕС-СООБЩЕСТВА. СТАТУС ПАРТНЕРА ОТКРЫВАЕТ САМЫЕ ЭФФЕКТИВНЫЕ ВОЗМОЖНОСТИ ПО ПРОДВИЖЕНИЮ БИЗНЕСА НА ПЛОЩАДКЕ ФОРУМА «СИЛЬНЫЕ ИДЕИ ДЛЯ НОВОГО ВРЕМЕНИ».'


block main

        div#default-page-top
            .container
                nav.breadcrumbs
                    a(href="/") Главная
                    p /
                    a(href="/") Партнеры
                    p /
                    p Стать партнером
                
                nav.second_level_menu
                    a(href="#") Партнеры
                    a.is-active(href="#") Стать партнером
                    a(href="#") Аккредитация партнеров
                    a(href="#") Аккредитация подрядчиков партнеров

                h1 Стать партнером

        div#become-a-partner-page.page-content

            section.about-section
                .container
                    p ПАРТНЕР ФОРУМА – ЭТО ПРЕСТИЖНЫЙ СТАТУС, КОТОРЫЙ ПРЕДОСТАВЛЯЕТСЯ УСПЕШНЫМ КОМПАНИЯМ – ПРИЗНАННЫМ УЧАСТНИКАМ БИЗНЕС-СООБЩЕСТВА. СТАТУС ПАРТНЕРА ОТКРЫВАЕТ САМЫЕ ЭФФЕКТИВНЫЕ ВОЗМОЖНОСТИ ПО ПРОДВИЖЕНИЮ БИЗНЕСА НА ПЛОЩАДКЕ ФОРУМА «СИЛЬНЫЕ ИДЕИ ДЛЯ НОВОГО ВРЕМЕНИ».
            
            section.partner-benefits-section
                .container
                    h2 Преимущества участия
                    p.note Что получает партнер:
                    ul
                        li
                            img(src="/images/partner-benefits-1.svg")
                            p Уникальные форматы участия в деловой программе, включая возможность организовать в рамках Форума деловое мероприятие, презентацию или пресс-конференцию
                        li
                            img(src="/images/partner-benefits-2.svg")
                            p Аудиторию свыше 3 000 человек, среди которых первые лица ведущих корпораций, члены Правительства, главы субъектов Российской Федерации, ведущие эксперты и предприниматели
                        li
                            img(src="/images/partner-benefits-3.svg")
                            p Информационную поддержку, которая сделает участие вашей компании в Форуме максимально заметным
                        li
                            img(src="/images/partner-benefits-4.svg")
                            p Возможность пригласить деловых партнеров на деловые мероприятия компании, проходящие в рамках Форума
                        li
                            img(src="/images/partner-benefits-5.svg")
                            p Персонального менеджера со стороны Фонда Росконгресс

            section.title-partner-benefits-section
                .container
                    h2 Титульный партнер
                    p Титульный партнер Форума – уникальный статус, который предоставляется - признанным лидерам бизнеса. Статус открывает возможность на приоритетной основе принимать участие и выступать организатором мероприятий в рамках официальной деловой, культурной и спортивной программ Форума, проводить переговоры и церемонии подписания соглашений, получать расширенную рекламную поддержку на ресурсах Форума и информационную поддержку от ведущих СМИ, а также организовывать собственные зоны делового общения для демонстрации лучших практик и инициатив компании.

            section.general-partner-benefits-section
                .container
                    h2 Генеральный партнер
                    p Генеральный партнер Форума – это престижный статус, который предоставляется крупнейшим компаниям - ключевым партнерам проекта. Статус дает возможность принимать участие во всех мероприятиях деловой программы Форума, получать рекламную поддержку на ресурсах Форума и информационную поддержку от ведущих СМИ, организовывать собственные зоны делового общения, проводить переговоры и организовывать мероприятия в рамках деловой, культурной и спортивной программ Форума.
            
            section.official-partner-benefits-section
                .container
                    h2 Официальный партнер
                    p Официальный партнер Форума является ключевым участником мероприятия и обладает широким набором инструментов для продвижения бизнеса. Среди них выставочная площадь для демонстрации проектов компании, возможность организовать в рамках Форума деловое мероприятие, презентацию или пресс-конференцию, участие руководства компании в дискуссиях деловой программы, размещение логотипа компании на информационных ресурсах Форума.

            section.organisation-partner-benefits-section
                .container
                    h2 Партнер по организации зоны делового общения
                    p Партнер по организации зоны делового общения – статус, предоставляющий широкие возможности по продвижению компании, проектов и услуг на площадке Форума с застройки индивидуальной зоны делового общения. Помимо выставочной площади под застройку, данный партнерский статус подразумевает широкое медийное освещение, рекламную кампанию и возможности по организации собственного пресс-мероприятия на площадке Форума.

            section.program-partner-benefits-section
                .container
                    h2 Партнер по деловой программе
                    p Партнер по деловой программе является единомышленником Форума, способным предложить оригинальный и глубокий анализ тем, включенных в его деловую программу. Спикеры компании-партнера получают возможность принимать участие в мероприятиях деловой программы Форума, проводить двусторонние встречи, и церемонии подписаний соглашений, также данный статус подразумевает медийное освещение и рекламную кампанию на ресурсах Форума.

            section.cultural-and-sports-partner-benefits-section
                .container
                    h2 Партнер культурной и спортивной программы
                    p Культурные и спортивные мероприятия Форума являются прекрасной возможностью укрепить имидж компании в глазах партнеров и коллег, а также установить максимально доверительные деловые контакты в процессе общения в неформальной, располагающей обстановке, включая возможность продвижения на ресурсах Форума и площадках проведения мероприятий культурной и спортивной программы.



            section.contacts-v2-section
                .container
                    h2 Контакты
                    p Если вас заинтересовала возможность стать партнером Форума «Сильные идеи для нового времени», вы можете написать нам на электронную почту <a class="text-link" href="mailto:partners@roscongress.org">partners@roscongress.org</a> или заполнить заявку, и мы в ближайшее время свяжемся с вами.

            section.form-section
                .container
                    .inner-container
                        .decor
                        h2 Стать партнером
                        form
                            div
                                label(for="partner-form_name") Имя*
                                input#partner-form_name(placeholder="Введите имя")
                            div
                                label(for="partner-form_phone") Телефон*
                                input#partner-form_phone(placeholder="+7 (999) 999-99-99")
                            div
                                label(for="partner-form_email") Email*
                                input#partner-form_email(placeholder="Введите Email")
                            div
                                label(for="partner-form_company") Компания
                                input#partner-form_company(placeholder="Введите название")
                            button(type="submit") Отправить


