extends ../../layout/layout

block variables
    - var title = 'Условия участия - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, условия участия'
    - var description = 'Приглашаем вас принять участие в работе Форума «Сильные идеи для нового времени», который состоится 27-28 сентября 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main
    
    div#default-page-top
        .container
            nav.breadcrumbs
                a(href="/") Главная
                p /
                p Форум
            h1 Условия участия

    div#terms-page.page-content
        .container
            nav.page-navigation
                a(href="#terms-of-participation") Заявка на участие
                br
                a(href="#consideration-of-the-application") Рассмотрение заявки
                br
                a(href="#packages-and-participation-fees") Пакеты и стоимость участия
                br
                a(href="#quotas") Квотирование
                br
                a(href="#certificate-of-absence-of-COVID-19") Справка об отсутствии COVID-19
                br
                a(href="#contacts") Контакты

        section.terms-of-participation-section
            .container
                p Приглашаем вас принять участие в работе Форума «Сильные идеи для нового времени», который состоится 27-28 сентября 2020 года в Сочи на территории Парка науки и искусства «Сириус».<br/><br/>Организаторами Форума выступают Агентство стратегических инициатив и Фонд Росконгресс.

                .accordion
                    .accordion__elem
                        .accordion__elem-header
                            h3 Заявка на участие на сайте Форума <br/><br/>
                        .accordion__elem-content
                            p
                                | Чтобы принять участие в Форуме, пожалуйста, заполните заявку на участие на сайте <a class="text-link" href="https://reg.ideas-forum.ru/ru/registration">Форума</a>. <br/><br/>
                                | Через некоторое время на указанную электронную почту придет письмо с логином и паролем для входа в <a class="text-link" href="https://reg.roscongress.org/ru/login">Единый личный кабинет (ЕЛК)</a> на сайте Фонда Росконгресс.
                    .accordion__elem
                        .accordion__elem-header
                            h3 Заявка в Едином личном кабинете на сайте Фонда Росконгресс
                        .accordion__elem-content
                            p
                                | Если у вас есть аккаунт в <a class="text-link" href="https://reg.roscongress.org/ru/login">Едином личном кабинете</a> на сайте Фонда Росконгресс, вы можете подать заявку на участие в разделе «Будущие мероприятия» ЕЛК. В форме заявки автоматически заполнятся данные вашего профиля в ЕЛК.
                                | <br/><br/>
                                | Чтобы восстановить логин или пароль от вашего Единого личного кабинета, обратитесь в информационный центр Фонда Росконгресс по телефону +7 (495) 640 7868.

                p
                    strong Заявки на участие принимаются до 25 сентября 2020 года.

        section.consideration-of-the-application-section
            .container
                h2 Рассмотрение заявки
                p Статус вашей заявки на участие в Форуме будет отражен во вкладке «Мои мероприятия» ЕЛК. Заявки на участие будут рассматриваться Организационным комитетом, и в случае утверждения вам будет направлено приглашение на Форум, а статус вашей заявки на участие обновится в режиме реального времени.
                p
                    strong Период рассмотрения заявки индивидуален для каждого участника и составляет не менее десяти дней.
                p После получения приглашения, пожалуйста, подтвердите свое согласие на участие в Форуме в разделе «Мои мероприятия – Мое участие» ЕЛК. Если участие в Форуме не входит в ваши планы, пожалуйста, также оповестите организаторов об этом через ЕЛК.

        section.packages-and-participation-fees-section
            .container
                h2 Пакеты и стоимость участия
                p Участники Форума могут выбрать один из двух пакетов участия:
                .packages
                    .package.package-1
                        .main
                            .header
                                p Пакет «Премиум»
                                p.price 50 000 ₽
                                p.note (с учетом НДС 20%)*
                            .content
                                p Участие во всех мероприятиях деловой программы Форума (кроме мероприятий по специальному приглашению)
                                p Посещение пленарного заседания
                                p Доступ в зоны делового общения на площадке Форума
                        .image

                    .package.package-2
                        .main
                            .header
                                p Пакет «Стандарт»
                                p.price 30 000 ₽
                                p.note (с учетом НДС 20%)*
                            .content
                                p Участие во всех мероприятиях деловой программы Форума (кроме пленарного заседания и мероприятий по специальному приглашению)
                                p.disable Без посещения пленарного заседания
                                p Доступ в зоны делового общения на площадке Форума
                        .image

                p * В описании пакетов участия указана стоимость для одного участника. Для оплаты участия в Форуме участнику необходимо заключить договор или оформить счет-договор, являющийся подтверждением и гарантией участия. Датой оплаты считается дата перечисления денежных средств на счет Фонда Росконгресс.


        section.quotas-section
            .container
                h2 Квотирование <br/>(максимальное число участников от одной компании)
                p Для сохранения высокого уровня представительства организаторы вводят следующие ограничения на участие в Форуме:

                .quotas
                    .quota
                        .quota__header
                            .quota__headerElem
                                img(src="/images/persons.svg")
                                strong 2 участника <br/>(пакет «Премиум»)
                            .quota__headerPlus
                                img(src="/images/plus.svg")
                            .quota__headerElem
                                img(src="/images/persons.svg")
                                strong 2 участника <br/>(пакет «Стандарт»)
                        .quota__content
                            p Если делегацию возглавляет глава компании (президент / генеральный или управляющий директор, председатель правления или совета директоров), компания может быть представлена двумя участниками – пакет «Премиум» (глава компании + участник уровня заместителя главы компании, члена правления / совета директоров или главы представительства) и двумя участниками – пакет «Стандарт».

                    .quota
                        .quota__header
                            .quota__headerElem
                                img(src="/images/person.svg")
                                strong 1 участник <br/>(пакет «Премиум»)
                            .quota__headerPlus
                                img(src="/images/plus.svg")
                            .quota__headerElem
                                img(src="/images/persons.svg")
                                strong 2 участника <br/>(пакет «Стандарт»)
                        .quota__content
                            p Если делегацию возглавляет не глава компании, компания может быть представлена одним участником – пакет «Премиум» (уровня заместителя главы компании, члена правления / совета директоров или главы представительства) и двумя участниками – пакет «Стандарт».



        section.certificate-of-absence-of-COVID-19-section
            .container
                .inner-container
                    h2 Справка об отсутствии COVID-19
                    p В целях защиты здоровья гостей и участников Форума доступ на площадку форума «Сильные идеи для нового времени» возможен только при предъявлении справки об отсутствии COVID-19.
                    p Сдать тест на COVID-19 можно в одной из лабораторий Роспотребнадзора, лабораториях при государственных медицинских организациях и лабораториях частной формы собственности. Справка должна быть выдана не позднее, чем за три календарных дня до отъезда.

        section.contacts-section
            .container
                h2 Контакты
                p За дополнительной информацией обращайтесь в информационный центр форума «Сильные идеи для нового времени»:
                p Тел.: <a class="text-link" href="tel:+74956407868">+7 (495) 640 7868</a> <br/>Email: <a class="text-link" href="mailto:info@ideas-forum.ru">info@ideas-forum.ru</a>

