extends ../../layout/layout

block variables
    - var title = 'Программа - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, программа'
    - var description = 'Приглашаем вас принять участие в работе форума «Сильные идеи для нового времени», который состоится в октябре 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main

        div#default-page-top
            .container
                nav.breadcrumbs
                    a(href="/") Главная
                    p /
                    a(href="/") Программа
                    p /
                    p Деловая программа
                
                h1 Отель «Имеретинский» 4*

        div#hotel-page.page-content

            section
                .container
                    p
                        | Отель «Имеретинский» расположен в Сочи, менее чем в 20 минутах ходьбы от Олимпийского парка. В отеле имеются различные удобства, включая крытый и открытый бассейны, спа- и оздоровительный центр, сауна и турецкая паровая баня, а также массажный кабинет. На территории работает медицинско-оздоровительный центр.
                        | <br/><br/>
                        | К услугам гостей фитнес-центр, бар-ресторан, а также помещения для совещаний, банкетный зал и терраса. По утрам в отеле накрывают завтрак «шведский стол». Также осуществляется доставка еды и напитков в номер и предоставляются услуги трансфера. Для детей и взрослых бесплатно организуется развлекательная программа. На всей территории действует бесплатный Wi-Fi.
                        | <br/><br/>
                        | Отель «Имеретинский» находится в 3 км от железнодорожного вокзала Адлера и в 5 км от международного аэропорта Адлер-Сочи.

            section.hotel-rooms-section
                .container
                    ul
                        li
                            .image(style="background-image: url('https://rusinvestforum.org/hotels/reservations/5.jpg')")
                            .content
                                strong Стандарт, вид на бассейн
                                p Однокомнатный номер
                                p Площадь: 32 кв. м

                        li
                            .image(style="background-image: url('https://rusinvestforum.org/hotels/reservations/6.jpg')")
                            .content
                                strong Стандарт, вид на бассейн
                                p Однокомнатный номер
                                p Площадь: 32 кв. м

                        li
                            .image(style="background-image: url('https://rusinvestforum.org/hotels/reservations/7.jpg')")
                            .content
                                strong Стандарт, вид на бассейн
                                p Однокомнатный номер
                                p Площадь: 32 кв. м

                        li
                            .image(style="background-image: url('https://rusinvestforum.org/hotels/reservations/8.jpg')")
                            .content
                                strong Стандарт, вид на бассейн
                                p Однокомнатный номер
                                p Площадь: 32 кв. м

                        li
                            .image(style="background-image: url('https://rusinvestforum.org/hotels/reservations/9.jpg')")
                            .content
                                strong Стандарт, вид на бассейн
                                p Однокомнатный номер
                                p Площадь: 32 кв. м


                    a(href="#") Возврат к списку
