extends ../../layout/layout

block variables
    - var title = 'Аккредитация партнеров - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, аккредитация партнеров'
    - var description = 'Приглашаем вас принять участие в работе форума «Сильные идеи для нового времени», который состоится в октябре 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main

        div#default-page-top
            .container
                nav.breadcrumbs
                    a(href="/") Главная
                    p /
                    a(href="/") Партнеры
                    p /
                    p Аккредитация партнеров
                
                nav.second_level_menu
                    a(href="#") Партнеры
                    a(href="#") Стать партнером
                    a(href="#") Аккредитация партнеров
                    a.is-active(href="#") Аккредитация подрядчиков партнеров

                h1 Аккредитация подрядчиков партнеров
                p Уважаемые партнеры! <br/><br/>В данном разделе размещена информация для регистрации представителей вашей <strong>компании-подрядчика</strong> (сотрудников, транспортных средств и водителей) на время проведения монтажных и демонтажных работ, а также на период проведения форума «Сильные идеи для нового времени», работающих в зоне делового общения вашей компании.
                
        div#partner-contractor-accreditation-page.page-content

            section.contractor-accreditation-1-section
                .container
                    h2 Информация о порядке аккредитации
                    ul.decorized-ul
                        li
                            img(src="/images/decor-9.png")
                            .header 1 августа 2020 года – 5 сентября 2020 года
                            .content Согласование квот
                        li
                            img(src="/images/decor-10.png")
                            .header 1 августа 2020 года – 10 сентября 2020 года
                            .content Прием заявок на аккредитацию, изменения и дополнения
                        li
                            img(src="/images/decor-11.svg")
                            .header 18 сентября 2020 года – 24 сентября 2020 года
                            .content Получение аккредитационного пакета

                    p Аккредитацию на период монтажа/демонтажа проходят те сотрудники, водители и транспортные средства подрядных организаций, которые в силу производственной необходимости будут находиться на территории проведения форума «Сильные идеи для нового времени» (далее – Форум) с 08:00 <strong>21 сентября 2020 года</strong> до 18:00 <strong>25 сентября 2020 года</strong> и с 23:00 <strong>28 сентября 2020 года</strong> до 23:00 <strong>1 октября 2020 года</strong>.
                    br
                    p Аккредитацию на период Форума и монтажа/демонтажа проходят те сотрудники, водители и транспортные средства подрядных организаций, которые в силу производственной необходимости будут находиться на территории проведения Форума с 18:00 <strong>25 сентября 2020 года</strong> до 23:00 <strong>28 сентября 2020 года</strong>.

                    .colored-container Обращаем ваше внимание на то, что сотруднику, водителю и транспортному средству, аккредитованным на период проведения Форума, аккредитация на период монтажа/демонтажа не требуется.

                    p
                        strong Для аккредитации сотрудников, транспортных средств и водителей подрядных организаций необходимо:

                    p 1. Предоставить <a href="#">официальное письмо о выборе застройщика.</a>
                    p 2. Согласовать c Фондом Росконгресс квоты на сотрудников (количество сотрудников, которые могут находиться на территории проведения Форума в период проведения Форума, а также в период монтажа/демонтажа).
                    p 3. Заполнить <a href="#">карточку организации</a>, поставить подпись руководителя организации и печать.Направить электронную версию в формате Excel (карточка организации) и отсканированную версию на адрес электронной почты вашего персонального менеджера <strong>не позднее 5 сентября 2020 года.</strong>
                    p 4. Получить по электронной почте от менеджера отдела аккредитации технического персонала и транспорта индивидуальное имя пользователя (логин) и пароль для входа в <a href="#">Личный кабинет.</a>
                    p 5. На официальном сайте Форума, используя логин и пароль, войти в<a href="#"> Личный кабинет.</a>
                    p 6. Заполнить анкеты на сотрудников по указанной форме (по каждому периоду количество анкет, доступных для заполнения, соответствует согласованным квотам на сотрудников по периодам).
                    p В каждой анкете <strong>обязательно</strong> указывается, на какой период требуется аккредитация:

                    p(style="padding-left:24px") - на период монтажа/демонтажа;<br/>- на период монтажа/демонтажа и на период Форума.

                    p 7. При необходимости аккредитовать транспортные средства и водителей на период монтажа/демонтажа заполнить анкеты на транспортные средства и водителей.<br/><br/>Обращаем ваше внимание: если водитель зарегистрирован в заявке на аккредитацию как сотрудник, то вносить его повторно в список на аккредитацию водителей не нужно – необходимо выбрать данного водителя из списка зарегистрированных сотрудников.<br/><br/>При подаче заявки на аккредитацию водителей / транспортных средств <strong>на период монтажа/демонтажа</strong> транспортные средства и водители не имеют взаимной привязки.<br/><br/>Обращаем ваше внимание на то, что заявка на аккредитацию <strong>прицепа подается отдельно.</strong>
                    p 8. Загрузить фотографии сотрудников, водителей. Фотографии на бедж требуются только тем сотрудникам и водителям, которые в силу производственной необходимости будут находиться на территории в период Форума.
                
                    p
                        strong Фотографии должны соответствовать следующим требованиям:

                    p(style="padding-left:24px") - размер фотографии – 480x640 пикселей;<br/>- фотография должна быть цветная на белом фоне, тип «для документов»;<br/>- разрешение – 300 dpi (качество фотографии);<br/>- изображение должно быть анфас, без головного убора;<br/>- изображение лица должно занимать не менее 70% фотографии;<br/>- фотографии на временный пропуск (на период монтажа/демонтажа) не требуются.<br/>
                    br
                    p 
                        strong Прием заявок на аккредитацию сотрудников, водителей и транспортных средств осуществляется с 1 августа 2020 года по 10 сентября 2020 года.

                    p Изменения и дополнения к спискам согласовываются с руководителем направления Фонда Росконгресс и могут быть произведены <strong>до 14 сентября 2020 года.</strong> Изменения и дополнения <strong>после 14 сентября 2020 года</strong> согласовываются только с директором Форума.
                    br
                    p Изменение данных:

                    p(style="padding-left:24px")  - сотрудников или их состава в рамках квот;<br/>- транспортных средств;<br/>- водителей
                    p Производится <strong>самостоятельно</strong> ответственным представителем подрядной организации с учетом того, что:

                    p(style="padding-left:24px") - после сохранения данных сотрудников/водителей / транспортных средств их редактирование из Личного кабинета становится невозможным;<br/>- внесение любых изменений производится путем подачи заявки на изменение данных на адрес закрепленного менеджера отдела аккредитации технического персонала и транспорта;<br/>- в случае замены одного сотрудника/водителя / транспортного средства на другого(-ое) необходимо сначала удалить запись заменяемого сотрудника/водителя / транспортного средства, а потом на ее место внести данные нового;<br/>- после выдачи беджа / транспортного пропуска / временного пропуска самостоятельное удаление данных сотрудника/водителя/ транспортного средства невозможно;<br/>- замена или удаление таких сотрудников/водителей / транспортных средств, а также замена сотрудников/водителей/транспортных средств, которым было отказано в аккредитации, производится через менеджера отдела аккредитации технического персонала и транспорта.

                    p Для того чтобы получить беджи/пропуска по доверенности, необходимо распечатать в Личном кабинете доверенность и:

                    p(style="padding-left:24px") - список сотрудников на получение беджей на период Форума (в список включаются только те сотрудники организации, у которых есть фотография, заявка на аккредитацию обработана и им еще не выданы беджи);<br/>- список водителей на получение беджей на период Форума (в список включаются только те водители организации, у которых есть фотография, заявка на аккредитацию обработана и им еще не выданы беджи);<br/>- список транспортных средств на получение пропусков на транспортные средства на период Форума (в список включаются только те транспортные средства организации, для которых согласованы парковочные места и на которые еще не получены транспортные пропуска);<br/>- список сотрудников на получение временных пропусков на период монтажа/демонтажа (в список включаются только те сотрудники организации, у которых обработана заявка на аккредитацию и которые еще не получили временные пропуска);<br/>- список водителей на получение временных пропусков на период монтажа/демонтажа (в список включаются только те водители организации, у которых обработана заявка на аккредитацию и которые еще не получили временные пропуска);<br/>- список транспортных средств на получение временных пропусков на транспортные средства на период монтажа/демонтажа (в список включаются только те транспортные средства организации, на которые еще не получены временные пропуска).<br/><br/><strong>При получении беджей и временных пропусков по доверенности необходимо предъявить копии паспортов всех сотрудников и водителей, ожидающих аккредитации, согласно спискам к доверенности.</strong> <br/><br/>Если при сверке будут обнаружены несоответствия внесенных данных паспортным, выдача беджа или временного пропуска будет возможна только после внесения изменений и повторной обработки предоставленной информации (не менее 3 рабочих дней).<br/><br/>Получение беджей/пропусков представителем организации возможно только пакетно. Получение беджей/пропусков осуществляется по доверенности с паспортом в срок <strong>с 18 сентября 2020 года по 24 сентября 2020 года в пункте аккредитации технического персонала, водителей и транспортных средств</strong> после предварительного согласования времени получения с закрепленным менеджером отдела аккредитации технического персонала и транспорта.<br/><br/><strong>Получение беджей/пропусков сотрудниками/водителями лично не предусматривается!</strong><br/><br/>При обнаружении ошибки в напечатанном бедже/пропуске его замена производится после заполнения заявления на замену персонифицированных данных.<br/><br/>В случае потери беджа/пропуска его замена производится после заполнения заявления на выдачу дубликата. Решение о выдаче дубликата принимает руководитель отдела аккредитации технического персонала и транспорта в индивидуальном порядке.<br/><br/>

            section.contractor-accreditation-2-section
                .container
                    h2 Контакты
                    p В случае возникновения вопросов по аккредитации сотрудников, транспортных средств и водителей организаций, пожалуйста, обращайтесь в отдел аккредитации технического персонала и транспорта по телефону <a href="tel:+78124080013">+7 (812) 408 0013</a> с 10:00 до 18:00.

