extends ../../layout/layout

block variables
    - var title = 'Форум - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, форум'
    - var description = 'Приглашаем вас принять участие в работе форума «Сильные идеи для нового времени», который состоится в октябре 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main

    div#default-page-top
        .container
            nav.breadcrumbs
                a(href="/") Главная
                p /
                p Форум
            h1 О форуме

    div#forum-page.page-content

        section.about-section
            .container
                p
                    | Форум «Сильные идеи для нового времени» состоится 27-28 сентября в Сочи на территории Парка науки и искусства «Сириус».
                    | Инициаторами Форума выступают Агентство стратегических инициатив (АСИ) и Фонд Росконгресс.


        section.purpose-section
            .container
                h2 Цель форума
                p Цель Форума – сформировать содружество инициативных людей и консолидировать 100 сильных идей, которые помогут перезагрузить экономику и социальную сферу, выработать технологическую стратегию развития страны, а также организовать команды, готовые приступить к реализации своих идей и проектов, тиражированию практик, способных обеспечить устойчивое развитие России в новых экономических условиях.

                .suggestion
                    .suggestion__image
                    .suggestion__content
                        .suggestion__text
                            p Сильные идеи, доработанные в проекты, и готовые к тиражированию практики требуют объединения сильных заинтересованных людей.
                            p
                                strong Вы можете предложить свою идею на специальной крауд-платформе
                        .suggestion__button
                            a(href="https://idea.asi.ru/") Предложить идею

        section.participants-section
            .container
                h2 Участники
                p Форум объединит лидеров и экспертов в сфере экономики, технологического и социального развития, НКО, образования, городской среды, представителей государства и неравнодушных граждан для совместного проектирования, сбора и широкого обсуждения таких идей и проектов.

        section.benefits-section
            .container
                h2 Преимущества участия
                p Участие в Форуме дает возможность:
                ul
                    li - сфокусировать внимание аудитории на важных и острых темах;
                    li - первыми ознакомиться с сильнейшими идеями и практиками;
                    li - поделиться опытом;
                    li - найти единомышленников или команду для реализации идеи/практики;
                    li - выдвинуть идею или практику, которая поможет изменить жизнь людей к лучшему;
                    li - получить обратную связь от экспертного сообщества, организационную и методологическую поддержку;
                    li - проработать свою идею до конкретной практики с возможностью ее внедрения в существующие институты;
                    li - укрепить свой социальный капитал и присоединиться к экспертам и общественным представителям АСИ.
                p Чтобы стать участником Форума, заполните заявку по ссылке.
                a.button(href="https://reg.ideas-forum.ru/ru/icruser-preload-captcha") Заполнить заявку

        section.program-section
            .container
                h2 Программа
                p На Форуме авторы 100 сильнейших идей представят их широкой общественности онлайн, а также непосредственно участникам очных сессий Форума, в число которых войдут представители крупного бизнеса, руководители российских регионов, лидеры государственных компаний, члены Наблюдательного совета АСИ.
                br
                p Работа будет организована по семи тематическим направлениям:
                .program
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-1.svg")
                        .program__elemText Современная экономическая политика
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-2.svg")
                        .program__elemText Новая социальная <br/>политика
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-3.svg")
                        .program__elemText Новая технологическая политика
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-4.svg")
                        .program__elemText Новые компетенции
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-5.svg")
                        .program__elemText Новая городская политика
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-6.svg")
                        .program__elemText Новые идеи для бизнеса
                    .program__elem
                        .program__elemImage
                            img(src="/images/program-elem-7.svg")
                        .program__elemText Новая молодежная повестка


        section.contacts-section
            .container
                h2 Контакты
                p За дополнительной информацией обращайтесь в информационный центр форума «Сильные идеи для нового времени»:
                p Тел.: <a href="tel:+74956407868">+7 (495) 640 7868</a> <br/>Email: <a href="mailto:info@ideas-forum.ru">info@ideas-forum.ru</a>


