header#header
    .image-container
        .image
    .image-overlay
    img.decor(src="/images/decor-1.svg")

    .top-part
        .container.top-part__container
            .top-part__logos
                a(href="https://asi.ru")
                    img(src="/images/logo-1.svg")
                a(href="https://roscongress.org/")
                    img(src="/images/logo-2.svg")
            .top-part__contacts
                a.phone(href="tel:+74956407868") +7 (495) 640 7868
                .socials
                    a(href="https://www.facebook.com/pg/Ideasforum.ru/about/?ref=page_internal")
                        img(src="/images/fb.svg")
                    a(href="https://vk.com/ideasforum")
                        img(src="/images/vk.svg")
                    a(href="https://www.instagram.com/ideas.forum/")
                        img(src="/images/insta.svg")

    .main-part
        .container.main-part__container
            a(href="/index.html").main-part__title
                img(src="/images/decor-2.svg")
                p Сильные идеи для нового времени
            img.main-part__mobile-burger.menu-popup-open(src="/images/burger-menu.svg")
            .main-part__menu
                .top
                    .link-group
                        a(href="/forum.html") Форум
                    .link-group
                        a(href="/terms.html") Участникам
                        .list-container
                            .list
                                a(href="/#") Тест ссылка 1
                                a(href="/#") Тест ссылка 2
                                a(href="/#") Тест ссылка 3
                                a(href="/#") Тест ссылка 4
                    
                    img.menu-popup-open(src="/images/burger-menu.svg")
                .bottom
                    .link-group
                        a(href="https://reg.ideas-forum.ru/ru") Войти в Личный кабинет
                    .link-group
                        a(href="https://reg.ideas-forum.ru/ru/registration") Оставить заявку на участие
                    .link-group
                        a.special(href="https://leader-id.ru/login/") Регистрация через Leader-ID

                .partner
                        a(href="#") Стать партнером

            



#menu-popup
    .container
        img.close.menu-popup-close(src="/images/close.svg")
        .link-blocks
            .block-1
                .list
                    a.main(href="#") Форум
                    div.other
                        a(href="#") О Форуме
                        a(href="#") О Фонде Росконгресс
                        a(href="#") Организационный комитет
                        a(href="#") О Сочи
                        a(href="#") Как добраться до Сочи
                        a(href="#") Площадка Форума (ГМЦ)
                        a(href="#") Вопрос-ответ
                .list
                    a.main(href="#") Программа
                    div.other
                        a(href="#") Деловая программа
                        a(href="#") Культурная программа
                        a(href="#") Спортивная программа
                .list
                    a.main(href="#") Участникам
                    div.other
                        a(href="#") Преимущества участия
                        a(href="#") Условия участия
                .list
                    a.main(href="/partners.html") Партнёры
                    div.other
                        a(href="/partners.html") Партнеры
                        a(href="#") Стать партнером
                        a(href="#") Аккредитация партнеров
                        a(href="#") Аккредитация подрядчиков партнеров
            .block-2
                .list
                    a.main(href="#") Подрядчикам
                    div.other
                        a(href="#") Информация о порядке аккредитации
                        a(href="#") Правила пользования сетью Wi-Fi
                        a(href="#") Техническая документация
                .list
                    a.main(href="#") СМИ
                    div.other
                        a(href="#") Аккредитация СМИ
                        a(href="#") Правила аккредитации
                        a(href="#") Получение беджа
                        a(href="#") Политика упоминаний
                        a(href="#") Пресс-центр
                        a(href="#") Контактная информация
                .list
                    a.main(href="#") Сервисы
                    div.other
                        a(href="#") Транспорт
                        a(href="#") Бронирование гостиниц
                        a(href="#") Комнаты переговоров
                        a(href="#") Проведение пресс-мероприятий
                        a(href="#") Протокольно организационное сопровождение
            .block-3
                .list
                    a.main(href="#") Выставки
                .list
                    a.main(href="#") Новости
                .list
                    a.main(href="#") Фотобанк
                .list
                    a.main(href="#") Контакты


