footer
    .top-part
        .container.top-part__container
            .top-part__elem.logos
                a(href="https://roscongress.org/")
                    img(src="/images/logo-2.svg")
                a(href="https://asi.ru")
                    img(src="/images/logo-1.svg")
            .top-part__elem.menu.menu1
                a(href="/forum.html") Форум
                a(href="/terms.html") Участникам
                a(href="#") Выставки
                a(href="#") Партнеры
                a(href="#") Подрядчикам
            .top-part__elem.menu.menu2
                a(href="#") Программа
                a(href="#") Подрядчикам
                a(href="#") СМИ
                a(href="#") Сервисы
                a(href="#") Схема проезда
            .top-part__elem.contacts
                a.phone(href="tel:+74956407868") +7 (495) 640 7868
                a.email(href="mailto:info@ideas-forum.ru") info@ideas-forum.ru
                .socials
                    a(href="https://www.facebook.com/pg/Ideasforum.ru/about/?ref=page_internal")
                        img(src="/images/fb.svg")
                    a(href="https://vk.com/ideasforum")
                        img(src="/images/vk.svg")
                    a(href="https://www.instagram.com/ideas.forum/")
                        img(src="/images/insta.svg")
    .bottom-part
        .container.bottom-part__container
            p © 2020 ФОНД РОСКОНГРЕСС
            br
            p Использование материалов, размещенных на сайте, допускается только с письменного разрешения Фонда Росконгресс или соответствующего правообладателя. Запрещается автоматизированное извлечение размещенной информации любыми сервисами без официального разрешения Фонда Росконгресс.
            br
            p С правилами использования материалов сайта можно ознакомиться <a href="/terms_of_use.pdf" class="text-link">здесь</a>.
            br
            p С политикой конфиденциальности можно ознакомиться <a href="#" class="text-link">здесь</a>.
