extends ../../layout/layout

block variables
    - var title = 'Программа - Сильные идеи для нового времени'
    - var keywords = 'Сильные идеи для нового времени, программа'
    - var description = 'Приглашаем вас принять участие в работе форума «Сильные идеи для нового времени», который состоится в октябре 2020 года в Сочи на территории Парка науки и искусства «Сириус».'


block main

        div#default-page-top
            .container
                nav.breadcrumbs
                    a(href="/") Главная
                    p /
                    a(href="/") Программа
                    p /
                    p Деловая программа
                
                h1 Гостиницы

        div#hotels-page.page-content

            section.hotels-section
                .container
                    .hotels__container

                        .hotels__item
                            .hotels__item__header
                                a.title Отель «Имеретинский» 4*

                            .hotels__item__content
                                .description
                                    p Россия, г.Адлер, Морской бульв., д. 1
                                    a(href="https://im-hotel.ru/HOTEL/") im-hotel.ru/HOTEL/
                                    img(src="https://ideas-forum.ru/upload/iblock/482/482e1b85c9cdf0563e30a1b8f8af5d0b.jpg")
                                    a.button(href="#") Подать заявку

                                .table
                                    .table__header
                                        p Категория номера
                                        p Стоимость в сутки за одноместный номер, руб.*
                                        p Стоимость в сутки за двухместный номер, руб.*
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750

                                    .notes
                                        | Срок приема заявок – до 25.09.2020
                                        | <br/>Минимальный период бронирования – с 30.09.2020 г. по 03.10.2020 г. (три ночи)
                                        | <br/><br/>
                                        | *Стоимость номера указана без учёта НДС.
                                        | <br/>В стоимость номера входит завтрак


                        .hotels__item
                            .hotels__item__header
                                a.title Отель «Имеретинский» 4*

                            .hotels__item__content
                                .description
                                    p Россия, г.Адлер, Морской бульв., д. 1
                                    a(href="https://im-hotel.ru/HOTEL/") im-hotel.ru/HOTEL/
                                    img(src="https://ideas-forum.ru/upload/iblock/482/482e1b85c9cdf0563e30a1b8f8af5d0b.jpg")
                                    a.button(href="#") Подать заявку

                                .table
                                    .table__header
                                        p Категория номера
                                        p Стоимость в сутки за одноместный номер, руб.*
                                        p Стоимость в сутки за двухместный номер, руб.*
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750

                                    .notes
                                        | Срок приема заявок – до 25.09.2020
                                        | <br/>Минимальный период бронирования – с 30.09.2020 г. по 03.10.2020 г. (три ночи)
                                        | <br/><br/>
                                        | *Стоимость номера указана без учёта НДС.
                                        | <br/>В стоимость номера входит завтрак


                        .hotels__item
                            .hotels__item__header
                                a.title Отель «Имеретинский» 4*

                            .hotels__item__content
                                .description
                                    p Россия, г.Адлер, Морской бульв., д. 1
                                    a(href="https://im-hotel.ru/HOTEL/") im-hotel.ru/HOTEL/
                                    img(src="https://ideas-forum.ru/upload/iblock/482/482e1b85c9cdf0563e30a1b8f8af5d0b.jpg")
                                    a.button(href="#") Подать заявку

                                .table
                                    .table__header
                                        p Категория номера
                                        p Стоимость в сутки за одноместный номер, руб.*
                                        p Стоимость в сутки за двухместный номер, руб.*
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750

                                    .notes
                                        | Срок приема заявок – до 25.09.2020
                                        | <br/>Минимальный период бронирования – с 30.09.2020 г. по 03.10.2020 г. (три ночи)
                                        | <br/><br/>
                                        | *Стоимость номера указана без учёта НДС.
                                        | <br/>В стоимость номера входит завтрак


                        .hotels__item
                            .hotels__item__header
                                a.title Отель «Имеретинский» 4*

                            .hotels__item__content
                                .description
                                    p Россия, г.Адлер, Морской бульв., д. 1
                                    a(href="https://im-hotel.ru/HOTEL/") im-hotel.ru/HOTEL/
                                    img(src="https://ideas-forum.ru/upload/iblock/482/482e1b85c9cdf0563e30a1b8f8af5d0b.jpg")
                                    a.button(href="#") Подать заявку

                                .table
                                    .table__header
                                        p Категория номера
                                        p Стоимость в сутки за одноместный номер, руб.*
                                        p Стоимость в сутки за двухместный номер, руб.*
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750

                                    .notes
                                        | Срок приема заявок – до 25.09.2020
                                        | <br/>Минимальный период бронирования – с 30.09.2020 г. по 03.10.2020 г. (три ночи)
                                        | <br/><br/>
                                        | *Стоимость номера указана без учёта НДС.
                                        | <br/>В стоимость номера входит завтрак


                        .hotels__item
                            .hotels__item__header
                                a.title Отель «Имеретинский» 4*

                            .hotels__item__content
                                .description
                                    p Россия, г.Адлер, Морской бульв., д. 1
                                    a(href="https://im-hotel.ru/HOTEL/") im-hotel.ru/HOTEL/
                                    img(src="https://ideas-forum.ru/upload/iblock/482/482e1b85c9cdf0563e30a1b8f8af5d0b.jpg")
                                    a.button(href="#") Подать заявку

                                .table
                                    .table__header
                                        p Категория номера
                                        p Стоимость в сутки за одноместный номер, руб.*
                                        p Стоимость в сутки за двухместный номер, руб.*
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750
                                    .row
                                        .category Стандарт, вид на бассейн
                                        .single-room 7 500
                                        .double-room 8 750

                                    .notes
                                        | Срок приема заявок – до 25.09.2020
                                        | <br/>Минимальный период бронирования – с 30.09.2020 г. по 03.10.2020 г. (три ночи)
                                        | <br/><br/>
                                        | *Стоимость номера указана без учёта НДС.
                                        | <br/>В стоимость номера входит завтрак
